@use "./variables" as *;
@use "./mixins" as *;

/* ---------- Base ---------- */
:root {
  --ring: 0 0 0 3px rgba(59, 130, 246, 0.35);
}
body {
  font-family: $font-secondary;
  color: $color-text;
  background: $color-bg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

.col-50 {
  width: 50%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  color: $color-text-muted;
}

span.tag {
  background: rgba(64, 205, 157, 0.1);
  padding: 14px 22px;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 3.26px;
  color: #40cd9d;
  font-weight: 500;
  width: fit-content;
  display: inline-block;
  margin-bottom: 20px;
}
span.highlight {
  color: $primary;
}

.bg-color {
  background: #ffffffcc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //blur effect
  backdrop-filter: blur(10px);
}
