@use "variables" as *;

// ---------- Mixins ----------

@mixin btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2.75rem;
  border-radius: 50px;
  font-weight: 400;
  font-family: $font-secondary;
  transition: all 0.2s ease;
  letter-spacing: 0.26px;
  //blur
}
@mixin button-variant($bg-color, $text-color) {
  @include btn;
  background-color: $bg-color;
  color: $text-color;
  border: none;
  cursor: pointer;

  // &:hover {
  //   // opacity: 0.9;
  // }

  // &:focus {
  //   outline: 2px solid darken($bg-color, 10%);
  //   outline-offset: 2px;
  // }
}
