// ---------- Variables ----------
$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;

$color-bg: #ffffff;
$color-text: #0a043c;
$color-text-muted: #79869f;
$color-border: #f0f0f0;
$primary: #40cd9d;
$brand-600: #40cd9d;
$brand-700: #40cd9d;
$secondary-color: #41c8e6;
