@use '../abstracts/variables' as *;

.button,
.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .6rem .9rem;
  border-radius: $radius;
  border: 1px solid $color-border;
  background: #f8fafc;
  color: $color-text;
}
.button:hover, .btn-secondary:hover { background: #eef2f7; }
