@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ---------- Modern CSS Reset ---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:where(p, li, figcaption) {
  text-wrap: pretty;
}

:target {
  scroll-margin-block: 8ex;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.gap-0 {
  gap: 0px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-60 {
  gap: 60px;
}

.gap-70 {
  gap: 70px;
}

.gap-80 {
  gap: 80px;
}

.gap-90 {
  gap: 90px;
}

.gap-100 {
  gap: 100px;
}

.gap-110 {
  gap: 110px;
}

.gap-120 {
  gap: 120px;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-110 {
  padding-top: 110px;
}

.pb-110 {
  padding-bottom: 110px;
}

.mt-110 {
  margin-top: 110px;
}

.mb-110 {
  margin-bottom: 110px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}

/* ---------- Base ---------- */
:root {
  --ring: 0 0 0 3px rgba(59, 130, 246, 0.35);
}

body {
  font-family: "Roboto", sans-serif;
  color: #0a043c;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.col-50 {
  width: 50%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  color: #79869f;
}

span.tag {
  background: rgba(64, 205, 157, 0.1);
  padding: 14px 22px;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 3.26px;
  color: #40cd9d;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  margin-bottom: 20px;
}

span.highlight {
  color: #40cd9d;
}

.bg-color {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-sm-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-sm-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-sm-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-sm-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-md-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-md-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-md-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-md-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-lg-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-lg-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-lg-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-lg-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-lg-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-lg-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
/*
 * Responsive Mixins
 */
/* ---------- Typography ---------- */
h1 {
  font-size: clamp(2.027rem, 1.703rem + 1.73vw, 3rem);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}

h2 {
  font-size: clamp(1.802rem, 1.569rem + 1.241vw, 2.5rem);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 14px;
  letter-spacing: 2%;
}

h3 {
  font-size: clamp(1.602rem, 1.469rem + 0.708vw, 2rem);
  font-weight: 700;
  line-height: 3.125rem;
  margin-bottom: 12px;
  letter-spacing: 0.26px;
}

h4 {
  font-size: clamp(1.424rem, 1.399rem + 0.135vw, 1.5rem);
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

h5 {
  font-size: clamp(1.266rem, 1.271rem - 0.028vw, 1.25rem);
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

h6 {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 700;
  line-height: 1.45;
  margin-bottom: 6px;
  letter-spacing: 0.5px;
}

p {
  font-size: 1rem;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1em;
  letter-spacing: 0.26px;
}

a {
  text-decoration: none;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2.75rem;
  border-radius: 50px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease;
  letter-spacing: 0.26px;
  background-color: #40cd9d;
  color: #ffffff;
  border: none;
  cursor: pointer;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.btn-primary:hover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2.75rem;
  border-radius: 50px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease;
  letter-spacing: 0.26px;
  background-color: #41c8e6;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2.75rem;
  border-radius: 50px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease;
  letter-spacing: 0.26px;
  background-color: #41c8e6;
  color: #ffffff;
  border: none;
  cursor: pointer;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.btn-secondary:hover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2.75rem;
  border-radius: 50px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease;
  letter-spacing: 0.26px;
  background-color: #40cd9d;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.site-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.site-header .container .row {
  height: 100px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .site-header .container .row {
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .site-header .container .row {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .site-header .container .row {
    justify-content: space-between;
  }
}
.site-header .container .row .site-nav {
  gap: 56px;
}
.site-header .container .row .site-nav .nav-list {
  gap: 56px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .site-header .container .row .site-nav .nav-list {
    gap: 32px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .site-header .container .row .site-nav .nav-list {
    gap: 32px;
  }
}
.site-header .container .row .site-nav .nav-list li a {
  color: #84819d;
  font-weight: 500;
  position: relative;
  transition: all 0.25s ease-out;
}
.site-header .container .row .site-nav .nav-list li a::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: #40cd9d;
  transition: transform 0.25s ease-out;
}
.site-header .container .row .site-nav .nav-list li a:hover {
  color: #40cd9d;
}
.site-header .container .row .site-nav .nav-list li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.slicknav_menu {
  background: none;
  z-index: 9999;
}

.slicknav_btn {
  background-color: #0a043c;
}

.slicknav_menu {
  display: block;
}

.nav-list {
  display: none;
}

.slicknav_menu {
  position: absolute;
  top: 24px;
  width: 180px;
  z-index: 9999;
}

.slicknav_nav li > a {
  color: #ffffff;
  font-weight: 400;
  margin: 4px;
}

.slicknav_nav {
  background: #0a043c;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}

.slicknav_nav li > a:hover {
  background: #fff !important;
}

.slicknav_nav > a {
  all: unset;
  padding: 5px 10px !important;
  background: #41c8e6;
  border-radius: 8px;
  display: block;
  margin: 4px;
}

.slicknav_nav > a:hover {
  all: unset;
  background: #fff !important;
  border-radius: 8px;
  color: #0a043c !important;
  display: block;
  cursor: pointer;
  margin: 4px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slicknav_menu {
    display: none;
  }
  .nav-list {
    display: inherit;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .slicknav_menu {
    display: none;
  }
  .nav-list {
    display: inherit;
  }
}
@media (min-width: 1400px) {
  .slicknav_menu {
    display: none;
  }
  .nav-list {
    display: inherit;
  }
}
.hero-section {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .hero-section {
    padding-top: 0px;
    padding-bottom: 120px;
  }
}
.hero-section .container .row {
  height: 80vh;
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero-section .container .row {
    flex-direction: column;
  }
}
.hero-section .container .row:nth-child(1) {
  z-index: 1;
}
.hero-section .container .row span {
  z-index: 99;
}
.hero-section .container .row h1 {
  line-height: 4.375rem;
  color: #0a043c;
  width: 750px;
}
@media (max-width: 768px) {
  .hero-section .container .row h1 {
    width: 90%;
  }
}
.hero-section .container .row p {
  color: #79869f;
  width: 420px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .hero-section .container .row p {
    width: 90%;
  }
}
.hero-section .container .row .btns {
  display: flex;
  gap: 30px;
}
.hero-section .container .row .btns a.video-play-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #0a043c;
}
.hero-section .container .row .btns a.video-play-btn img {
  width: 24px;
  height: 24px;
}
.hero-section .container .row img.ellipse-116 {
  position: absolute;
  top: 265px;
  left: 48%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero-section .container .row img.ellipse-116 {
    z-index: -1;
    opacity: 0.5;
  }
}
@media (max-width: 768px) {
  .hero-section .container .row img.ellipse-116 {
    z-index: -1;
    opacity: 0.5;
  }
}
.hero-section .container .row img.group-1703 {
  position: absolute;
  top: 543px;
  left: 55%;
  transform: translateX(-50%);
}
.hero-section .container .row img.vector-103 {
  position: absolute;
  top: 102px;
  left: 30%;
}
.hero-section .container .row .hero-image {
  position: absolute;
  top: 406px;
  left: 55%;
  background: #40cd9d;
  width: 467px;
  height: 331px;
  border-radius: 40px;
}
@media (max-width: 768px) {
  .hero-section .container .row .hero-image {
    margin-top: 20px;
    position: initial;
  }
}
.hero-section .container .row .hero-image img {
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .hero-section .container .row .hero-image img {
    position: initial;
    left: 0;
    transform: none;
  }
}
.hero-section .container .row .hero-image img.ellipse-117 {
  position: absolute;
  bottom: -60px;
  left: 0px;
  width: 118px;
}
.hero-section img.ellipse-22 {
  position: absolute;
  right: 100px;
  top: 180px;
}
@media (max-width: 768px) {
  .hero-section img.ellipse-22 {
    display: none;
  }
}
.hero-section img.ellipse-106 {
  position: absolute;
  top: 440px;
  right: -64px;
}
.hero-section img.ellipse-18 {
  position: absolute;
  top: 150px;
  left: 72px;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .hero-section img.ellipse-18 {
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero-section img.ellipse-18 {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero-section img.ellipse-18 {
    display: none;
  }
}

.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
.item {
  width: 300px;
  border-radius: 6px;
  position: absolute;
  left: max(2400px, 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: -26.25s;
}

.item2 {
  animation-delay: -22.5s;
}

.item3 {
  animation-delay: -18.75s;
}

.item4 {
  animation-delay: -15s;
}

.item5 {
  animation-delay: -11.25s;
}

.item6 {
  animation-delay: -7.5s;
}

.item7 {
  animation-delay: -3.75s;
}

.item8 {
  animation-delay: 0s;
}

.steps-section {
  background-image: url("../img/bg-2.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
@media (max-width: 768px) {
  .steps-section {
    background-size: auto;
  }
}
.steps-section .heading {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .steps-section .heading {
    width: 70%;
  }
}
.steps-section .step-boxes {
  text-align: center;
}
@media (max-width: 768px) {
  .steps-section .step-boxes {
    align-items: center;
    flex-direction: column;
  }
}
.steps-section .step-boxes .box {
  text-align: center;
  width: 372px;
  height: 316px;
  padding: 20px;
}
.steps-section .step-boxes .box span {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #40cd9d;
  box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.05);
  margin-bottom: 44px;
}
.steps-section .step-boxes .box span svg {
  fill: #ffffff;
}
.steps-section .step-boxes .box h4 {
  margin-bottom: 14px;
}
.steps-section .step-boxes .box p {
  color: #79869f;
}

/* Ellipse 108 */
.about-section {
  background-color: rgb(236, 249.5, 252.5);
  padding-top: 200px;
}
.about-section .container .row .about-image {
  background-color: #41c8e6;
  max-width: 467px;
  display: inline-flex;
  justify-content: center;
  border-radius: 40px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 992px) {
  .about-section .container .row .about-image {
    margin-bottom: 40px;
  }
}
.about-section .container .row .about-image img.about-1 {
  max-width: 100%;
  height: auto;
  margin-top: -100px;
}
.about-section .container .row .about-image img.ellipse-1171 {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 118px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .about-section .container .row .about-image img.ellipse-1171 {
    display: none;
  }
}
.about-section .container .row .about-image img.ellipse-1172 {
  position: absolute;
  bottom: 80px;
  left: -60px;
  width: 118px;
}
.about-section .container .row .about-image img.group-1703 {
  position: absolute;
  left: -150px;
  bottom: -100px;
  right: -60px;
  z-index: -1;
}
.about-section .container .row h3 {
  margin-bottom: 20px;
  width: 394px;
}
.about-section .container .row p {
  width: 490px;
  margin-bottom: 28px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .about-section .container .row p {
    width: 90%;
  }
}

.expert-section {
  padding: 100px 0;
}
.expert-section .container h3 {
  width: 420px;
}
.expert-section .container p {
  width: 420px;
  margin-bottom: 28px;
}
.expert-section .container .circle-400 {
  background: #40cd9d;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.expert-section .container .circle-400 .ellipse-121 {
  position: absolute;
  top: 10%;
  left: -2%;
}
.expert-section .container .circle-400 .ellipse-122 {
  position: absolute;
  top: 10%;
  right: -8%;
}
.expert-section .container .circle-400 .ellipse-123 {
  position: absolute;
  bottom: 7%;
  right: 0%;
}
.expert-section .container .circle-400 .ellipse-117-1 {
  rotate: 160deg;
  position: absolute;
  bottom: 90px;
  left: -30px;
  z-index: -1;
}
.expert-section .container .circle-400 .ellipse-117 {
  position: absolute;
  top: 130px;
  right: -50px;
  z-index: -1;
}
.expert-section .container .circle-400 .expert-img {
  padding-top: 10px;
  width: 400px;
  border-radius: 50%;
}

.services {
  background-color: rgb(235.9, 250, 245.2);
  padding-bottom: 240px;
}
.services .heading {
  margin: 0 auto;
  text-align: center;
  width: 450px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .services .heading {
    width: 90%;
  }
}
.services .service-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .services .service-boxes {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .services .service-boxes {
    gap: 0;
    grid-template-columns: 1fr;
  }
}
.services .service-boxes .box {
  padding: 40px;
  text-align: center;
  border: 1px solid #f4f4f5;
  border-radius: 12px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .services .service-boxes .box {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .services .service-boxes .box {
    padding: 10px 20%;
  }
}
.services .service-boxes .box svg {
  display: initial;
  color: #40cd9d;
  margin-bottom: 12px;
}

.subscription {
  margin-top: -160px;
}
.subscription .container {
  background-color: #40cd9d;
  border-radius: 30px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .subscription .container {
    padding: 0px 60px;
  }
}
.subscription .container h2 {
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 992px) {
  .subscription .container h2 {
    font-size: 1.5rem;
  }
}
.subscription .container p {
  color: #ffffff;
  text-align: center;
}
.subscription .container form.subscription-form {
  width: 860px;
  margin: 0 auto;
  background: #ffffff;
  height: 80px;
  border-radius: 70px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 30px;
}
.subscription .container form.subscription-form input {
  border: 0;
  margin-left: 36px;
  width: 70%;
  font-weight: 500;
}
.subscription .container form.subscription-form input:focus {
  outline: none;
}

.contact-section .heading {
  margin: 0 auto;
  text-align: center;
  width: 450px;
  margin-bottom: 40px;
}
.contact-section form {
  max-width: 600px;
  margin: 0 auto;
}
.contact-section form input {
  width: 48%;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.contact-section form input:focus {
  outline: none;
}
.contact-section form textarea {
  margin-bottom: 20px;
  padding: 20px 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  resize: vertical;
}
.contact-section form textarea:focus {
  outline: none;
}

.site-footer {
  background-color: rgb(235.9, 250, 245.2);
}
.site-footer .footer-site-info {
  width: 70%;
}
.site-footer .footer-site-info .logo img {
  margin-bottom: 20px;
}
.site-footer .footer-site-info ul {
  margin: 0;
  padding: 0;
}
.site-footer .footer-site-info ul li {
  margin-bottom: 16px;
  color: #79869f;
}
.site-footer .footer-site-info ul li a {
  display: flex;
  align-items: center;
  color: #79869f;
}
.site-footer .footer-site-info ul li a svg {
  width: 18px;
  height: auto;
  margin-right: 10px;
  color: #79869f;
}
.site-footer .footer-site-info ul li a:hover {
  color: #40cd9d;
}
.site-footer h5 {
  margin-bottom: 24px;
}
.site-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer ul li {
  margin-bottom: 16px;
}
.site-footer ul li a {
  color: #79869f;
  position: relative;
  transition: all 0.25s ease-out;
}
.site-footer ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: #40cd9d;
  transition: transform 0.25s ease-out;
}
.site-footer ul li a:hover {
  color: #40cd9d;
}
.site-footer ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer-bottom {
  border-top: 1px solid #f0f0f0;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  margin: 0;
  color: rgb(174.6, 182.4, 197.4);
  font-size: 0.875rem;
}
.footer-bottom p a {
  color: rgb(159.5, 230, 206);
}/*# sourceMappingURL=main.css.map */